/* Styles for index.html template */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utils */
.container {
  max-width: 1600px;
  padding-inline: 20px;
  margin-inline: auto;
}
/* *** */

/* Header */
.header {
  height: 70px;
  border-bottom: 1px solid darkgray;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

/* Footer */
.footer {
  height: 100px;
  border-top: 1px solid darkgray;

  .container {
    padding-block: 20px;
  }
}

/* Main */
.main {
  min-height: 70vh;

  .container {
    height: 100%;
    padding-block: 20px;
    display: flex;
    gap: 20px;
  }

  .aside {
    min-width: 260px;
  }

  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: azure;
  }
}
