*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    // COLORS:
    --black: #3b3b3b;
    --gray: #c2c2c2;
    --gray-light: #d1d1d1;
    --shadow: #c3c2c24f;
    --white: #fff;
    --active: #5faffa;

    // FONT:
    --font-size: 16px;
    --font-family: "Open Sans", sans-serif;

    // SIZES:
    --widget-width: 260px;
    --widget-min-height: 236px;
}


html {
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--black);
}

ul, ol {
    list-style: none;
}

// .button {
//     background: none;
//     border: none;
//     cursor: pointer;
//     font-family: var(--font-family);
//     font-size: var(--font-size);
//     color: var(--black);
//     transition: color .2s;

//     &:hover {
//       color: var(--active);
//     }
// }

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}